body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(135deg,red,orange,yellow,pink);
    background-size: 600% 600%;
    font-family: 'segoe UI', sans-serif;
    animation: auroraMove 20s ease infinite;
}
@keyframes auroraMove {
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
.container {
    max-width: 500px;
    margin: 80px auto;
    padding: 40px;
    background-color: rgba(255,255, 255, 0.2);
    backdrop-filter:blur(10px);
    border-radius: 20px;
    text-align: center;
}

input[type="text"]{
    width: 100%;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 12px 24px;
    color:white;
    background-color: black;
    transition: background-color 0.3s ease,box-shadow 0.3 ease;
}

button:hover{
    background-color: #c77dff;
    box-shadow: 0 0 15px rgba(199,125,255,0.7);
}
.container2{
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    background-color: rgba(255,255, 255, 0.2);
}
